<div class="container">
  <div class="row hidden-md-down">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 push-md-1">
      <h1 class="text-center">404 - Página não encontrada</h1>
      <h4 class="text-center text-muted">A URL informada não foi reconhecido pela aplicação</h4>
    </div>
  </div>
  <div class="row hidden-md-down">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 push-md-1">
      <h6 class="text-center">
        Caso o problema persista entre em contato com o suporte através do e-mail
        <a href="mailto:admin@lidersis.com.br">admin@lidersis.com.br</a>.
      </h6>
    </div>
  </div>
</div>
