<div class="container">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Pontos de Atendimento</h4>
        <h6 class="card-subtitle mb-3 text-muted">Cadastro de posto de atendimento</h6>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
          <div class="row">
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
              <label class="form-control-label" for="codigo">Código</label>
              <input type="text" id="codigo" name="codigo" formControlName="codigo" placeholder="Código" maxlength="20" class="form-control" [ngClass]="{'is-invalid': formErrors.codigo}" [readonly]="id" required />
              <div class="form-control-feedback" *ngIf="formErrors.codigo">
                <span class="fa fa-alert"></span>
                {{ formErrors.codigo }}
              </div>
              <small class="form-text text-muted">Código do posto, deve ser único</small>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
              <label class="form-control-label" for="nome">Nome</label>
              <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Nome" maxlength="100" class="form-control" [ngClass]="{'is-invalid': formErrors.nome}" required />
              <div class="form-control-feedback" *ngIf="formErrors.nome">
                <span class="fa fa-alert"></span>
                {{ formErrors.nome }}
              </div>
              <small class="form-text text-muted">Nome do posto, deve ser único</small>
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
              <label class="form-control-label" for="responsavel">Responsável</label>
              <input type="text" id="responsavel" name="responsavel" formControlName="responsavel" placeholder="Responsável" maxlength="100" class="form-control" [ngClass]="{'is-invalid': formErrors.responsavel}" required />
              <div class="form-control-feedback" *ngIf="formErrors.responsavel">
                <span class="fa fa-alert"></span>
                {{ formErrors.responsavel }}
              </div>
              <small class="form-text text-muted">Nome do responsável pelo posto</small>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
              <label class="form-control-label" for="endereco">Endereço</label>
              <input type="text" id="endereco" name="endereco" formControlName="endereco" placeholder="Endereço do posto" maxlength="1000" class="form-control" [ngClass]="{'is-invalid': formErrors.endereco}" required />
              <div class="form-control-feedback" *ngIf="formErrors.endereco">
                <span class="fa fa-alert"></span>
                {{ formErrors.endereco }}
              </div>
              <small class="form-text text-muted">Endereço do posto</small>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-6">
              <label class="form-control-label" for="complemento">Complemento</label>
              <input type="text" id="complemento" name="complemento" formControlName="complemento" placeholder="Complemento do endereço" maxlength="100" class="form-control" [ngClass]="{'is-invalid': formErrors.complemento}" />
              <div class="form-control-feedback" *ngIf="formErrors.complemento">
                <span class="fa fa-alert"></span>
                {{ formErrors.complemento }}
              </div>
              <small class="form-text text-muted">Complemento do endereço</small>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-6">
              <label class="form-control-label" for="numero">Número</label>
              <input type="text" id="numero" name="numero" formControlName="numero" placeholder="Número do endereço" maxlength="100" class="form-control" [ngClass]="{'is-invalid': formErrors.numero}" />
              <div class="form-control-feedback" *ngIf="formErrors.numero">
                <span class="fa fa-alert"></span>
                {{ formErrors.numero }}
              </div>
              <small class="form-text text-muted">Número do endereço</small>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-6">
              <label class="form-control-label" for="bairro">Bairro</label>
              <input type="text" id="bairro" name="bairro" formControlName="bairro" placeholder="Bairro do endereço" maxlength="100" class="form-control" [ngClass]="{'is-invalid': formErrors.bairro}" />
              <div class="form-control-feedback" *ngIf="formErrors.bairro">
                <span class="fa fa-alert"></span>
                {{ formErrors.bairro }}
              </div>
              <small class="form-text text-muted">Bairro do endereço</small>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-6">
              <label class="form-control-label" for="cep">CEP</label>
              <input type="text" id="cep" name="cep" formControlName="cep" placeholder="CEP do endereço" maxlength="8" class="form-control" [ngClass]="{'is-invalid': formErrors.cep}" />
              <div class="form-control-feedback" *ngIf="formErrors.cep">
                <span class="fa fa-alert"></span>
                {{ formErrors.cep }}
              </div>
              <small class="form-text text-muted">CEP do endereço</small>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-12" formGroupName="uf">
              <label class="form-control-label" for="texto">UF</label>
              <select id="uf" name="uf" formControlName="id" (change)="onChangeUf($event.target.value)" class="form-control" [ngClass]="{'is-invalid': formErrors['uf.id']}" required>
                <option *ngFor="let u of ufList" [value]="u.id">{{u.nome}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="formErrors['uf.id']">
                <span class="fa fa-alert"></span>
                {{ formErrors['uf.id'] }}
              </div>
              <small class="form-text text-muted">UF do posto</small>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-12" formGroupName="municipio">
              <label class="form-control-label" for="texto">Município</label>
              <select id="municipio" name="municipio" formControlName="id" class="form-control" [ngClass]="{'is-invalid': formErrors['municipio.id']}" required>
                <option *ngFor="let m of municipioList" [value]="m.id">{{m.nome}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="formErrors['municipio.id']">
                <span class="fa fa-alert"></span>
                {{ formErrors['municipio.id'] }}
              </div>
              <small class="form-text text-muted">Município do posto</small>
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
              <label class="form-control-label" for="email">E-mail</label>
              <input type="text" id="email" name="email" formControlName="email" placeholder="E-mail do posto" maxlength="100" class="form-control" [ngClass]="{'is-invalid': formErrors.email}" required />
              <div class="form-control-feedback" *ngIf="formErrors.email">
                <span class="fa fa-alert"></span>
                {{ formErrors.email }}
              </div>
              <small class="form-text text-muted">E-mail do posto</small>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
              <label class="form-control-label" for="telefone">Telefone</label>
              <input type="text" id="telefone" name="telefone" formControlName="telefone" placeholder="Telefone do posto" maxlength="100" class="form-control" [ngClass]="{'is-invalid': formErrors.telefone}" required />
              <div class="form-control-feedback" *ngIf="formErrors.telefone">
                <span class="fa fa-alert"></span>
                {{ formErrors.telefone }}
              </div>
              <small class="form-text text-muted">Telefone do posto</small>
            </div>
            <div class="form-group col-md-9 col-sm-12 col-xs-12">
              <label class="form-control-label" for="mapa">Mapa</label>
              <input type="text" id="mapa" name="mapa" formControlName="mapa" placeholder="URL do mapa" maxlength="1000" class="form-control" [ngClass]="{'is-invalid': formErrors.mapa}" required />
              <div class="form-control-feedback" *ngIf="formErrors.mapa">
                <span class="fa fa-alert"></span>
                {{ formErrors.mapa }}
              </div>
              <small class="form-text text-muted">URl para o Google Maps</small>
            </div>
            <div class="form-group col-md-3 col-sm-12 col-xs-12" *ngIf="id">
              <label class="form-control-label" for="descricao">Situação</label>
              <div class="form-check" [ngClass]="{'has-danger': formErrors.ativo}">
                <label class="form-check-label">
                  <input type="checkbox" id="ativo" name="ativo" formControlName="ativo" class="form-check-input" [ngClass]="{'is-invalid': formErrors.ativo}" />
                  Ativo
                </label>
              </div>
              <small class="form-text text-muted">Se está ativo ou não</small>
            </div>
          </div>
          <div class="row button-row">
            <div class="col-md-12 text-center">
              <a [routerLink]="['/admin/posto']" class="btn btn-warning">
                <span class="fa fa-arrow-left"></span>
                Voltar
              </a>
              <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
                <span class="fa fa-save"></span>
                Salvar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
