<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Pré Cadastro</h4>
      <h6 class="card-subtitle mb-3 text-muted">Cadastro de dados para o certificado digital</h6>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="h5 font-weight-bold">Qual tipo de pré cadastro deseja fazer?</div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="h5 font-weight-bold">
            <a title="Pessoa Física" [routerLink]="['/privado/pre-cadastro-pf/new']">
              <span class="fa fa-user" aria-hidden="true"></span>
              Pessoa Física
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="h5 font-weight-bold">
            <a title="Pessoa Juridica" [routerLink]="['/privado/pre-cadastro-pj/new']">
              <span class="fa fa-building" aria-hidden="true"></span>
              Pessoa Juridica
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
